<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificador Titanic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
</head>
<body>
    <form action="" id="form" class="form">
        <h3>Clasificador Titanic Survived</h3>
        <label for="sexo">Sexo:</label><br>
        <select name="sexo" id="sexo">
            <option value="male">Masculino</option>
            <option value="female">Femenino</option>
        </select><br><br>

        <label for="edad">Edad:</label><br>
        <input type="number" name="edad" id="edad" value="0.00" step="0.01"><br><br>

        <label for="tarifa">Tarifa:</label><br>
        <input type="number" name="tarifa" id="tarifa" value="0.00" step="0.01"><br><br>

        <label for="ticket">Ticket:</label><br>
        <input type="text" name="ticket" id="ticket"><br><br>

        <button type="button" id="enviar" class="enviar">Enviar</button><br>

        <p id="resultado">No se han ingresado datos</p>
        <p>David Domínguez Reyes - 20191134 - 9° "B" IDGS</p>
    </form>
</body>
</html>